<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Help page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font: 16px verdana, sans-serif;
            }            
            h3 {
                font: 20px verdana, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
            h4 {
                font: 18px verdana, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
        </style>    
    </head>
    <body>
        <div>
            <h3>Help: Banking Application</h3>
            <h4>General</h4>
            <p>The application allows control of customer's banking operations.
            The user can check all her accounts, make payments, deposits and
            transfers, and check any past transactions. The application also gives
            the user the opportunity to create a report of the accounts past
            activity.</p>
            <h4>Functionality</h4>
            <strong>Make payments</strong>
            <img src="./GestionUsuarios.png" alt="Ventana de gestión de usuarios."/>
            <p>Making a payment is easy: fill the amount field and press the
            <strong>Submit</strong> button. If the user feels like it, she also
            can add a description to keep record of the payment.</p>
            <strong>Make deposits</strong>
            <img src="./GestionUsuarios.png" alt="Ventana de gestión de usuarios."/>
            <p>Making a deposit is easy: fill the amount field and press the
            <strong>Submit</strong> button. If the user feels like it, she also
            can add a description to keep record of the deposit.</p>
            <strong>Make transfers</strong>
            <img src="./GestionUsuarios.png" alt="Ventana de gestión de usuarios."/>
            <p>Making a transfers is easy: fill the amount field and the recipient
            account, and press the <strong>Submit</strong> button. If the user 
            feels like it, she also can add a description to keep record of the 
            transfer.</p>
            <strong>View transactions</strong>
            <img src="./GestionUsuarios.png" alt="Ventana de gestión de usuarios."/>
            <p>The transactions tab makes checking the account past activity easy.
            By default, all past activity is loaded. The user can toggle filters
            on and off to filter the transaction list. Clicking a record on the
            list shows more detailed information about the selected transaction.
            <strong>Exit the application</strong>
            <p>When the <strong>Exit</strong> button is pressed, the application
            closes. There is also a close item in the menu bar.</p>
            <strong>Help</strong>
            <p>Press the <strong>Help</strong> option in the menu bar.</p>
        </div>
    </body>
</html>
